body * {
  margin: 0px;
  padding: 0px;
  vertical-align: top;
}

body {
  margin: 0px;
  padding: 0px;
}

div {
  box-shadow: -1px 1px black;
}

header, subheader, feature, upcoming, footer {
  width: 100%;
}

.container {
  width: 962px;
  margin: 0px auto;
}

.container div {
  display: inline-block;
}

.button {
  border-radius: 5px;
  background: red; /**/
}

.column div{
  display: block;
}

.feature-main {
  width: 638px;
}

.feature-main-img {
  width: 638px;
} 

.feature-main-img img {
  width: 638px;
  height: 440px;
}

.feature-side {
  width: 318px;
}

.feature-side>.mobber-dash {
  display: inline-block;
  margin: 0px auto;
}

.mobber-dash {
  width: 318px;
}

.mobber-count {
  width: 130px;
}

.mobber-count-top {
  height: 130px;
}

.mobber-count-bottom {
  height: 35px;
}

.join {
  width: 318px;
}

.upcoming-thumb {
  width: 318px;
}

.upcoming-list {
  width: 638px;
}

.upcoming-list-row-data {
  width: 210px;
  float: left;
}

.start-mob {
  width: 318px;
}

.categories {
  width: 318px;
}

.categories .header {
  display: block;
}

.categories .a, .categories .b {
  width: 156px;
}

.a .button {
  margin-right: 58px;
}

.b .button {
  margin-left: 58px;
}

.categories .button {
  width: 100px;
}

.connect {
  width: 318px;
}

.support {
  width: 318px;
}

