body * {
  vertical-align: top;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Didact Gothic', sans-serif;
  font-size: .80em;


}

.header, .subheader, .feature, .upcoming, .footer {
  width: 100%;
  color: grey;
}

.container {
  position: relative;
  width: 962px;
  margin: 0px auto;
/*  border: 1px solid lime;*/
}

.container div {
  display: inline-block;
}

.button {
  border-radius: 5px;
  text-align: center;
  vertical-align: middle;
  box-shadow: 0px 1px 3px 0px;
  color: white; /**/
  background: maroon; /**/
}

.button * {
  margin: 0px;
  vertical-align: middle;
  display: inline-block;
}

.subtext {
  font-size: .90em;
  padding: 10px;
}

.column div{
  display: block;
}


.caption *, .caption div {
  margin: 0px;
  display: inline-block;
  vertical-align: middle;
}

.caption > .timer {
  float: right;
  font-size: .80em;
}

.nav {
  margin: 0px 35px 0px 0px;
  height: 60px;
  padding: 0px;
  line-height: 55px;
}

.profile-menu {
  position: absolute;
  right: 10;
  height: 60px;
  line-height: 55px;
}

img.profile-menu-image {
  height: 50px;
  border-radius: 50px;
  box-shadow: 0px 0px 8px 0px rgb(29, 29, 29);
  margin-right: 5px;
}

img.downarrow {
  margin-top: -1px;
  margin-right: 1px;
  margin-left: 5px;
}

body > .header {
  height: 60px;
  background-image: url(images/headerbackground.png); 
  color: white;
  font-size: 17px;
  text-shadow: 0 1px black,
               -1px 0 gray;
  letter-spacing: 1;
}

.header > .container * {
  vertical-align: middle;
}

.header .logo {
  margin: -2px 41px 0 10px;
}

.subheader {
  height: 100px;
  color: rgba(87, 87, 87);
  font-size: 1.35em;
}

.subheader > .container *{
  margin-left: 20px;
  vertical-align: middle;
  display: inline-block;
}

.subheader > .container {

}

.feature {
  background: rgb(238, 236, 232);
  box-shadow: inset 1px 0px 10px 0px rgb(216, 213, 213);
  padding-top: 20px;
}

.feature-main {
  width: 618px;
  margin: 10px;
}

.feature-main > .caption {
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  position: absolute;
  width: 618px;
  height: 65px;
  font-size: 1.75em;
}

.feature-main-img {
  width: 618px;
} 

.feature-main-img img {
  width: 618px;
  height: 440px;
}

.feature-main-ribbon {
  background-color: rgb(249, 206, 0);
  color: white;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  width: 125px;
  height: 35px;
  margin-left: -5px;
  margin-top: -17px;
  box-shadow: -2px 2px 0px 0px grey; 
}

.feature-main-ribbon * {
  margin: 0px;
  margin-top: 10px;
}

.feature-main-img-footer {
  padding: 25px 20px;
  font-size: 1.5em;
  font-style: oblique;
  color: rgb(27, 27, 27);
  background-color: rgb(208, 205, 199)
}

.feature-main > .subtext {
  padding: 20px;
}

.feature-side {
  width: 298px;
  margin: 10px;
}

.mobber-dash > div {
  display: inline-block;
}

.mobber-dash {
  width: 318px;
  text-align: center;
  margin-bottom: 20px;
}

.mobber-dash * {
  display: inline-block;
}

.mobber-count {
  margin-right: 7px;
}

.mobber-needed-count {
  margin-left: 7px;
}

.mobber-count-top {
  height: 135px;
  width: 150px;
  background-color: rgb(208, 205, 199);
  color: white;
  text-shadow: 0px 2px gray;
  font-size: 5.75em;
}

.mobber-count-top * {
  margin: 25px 0px 0px 0px;
}

.mobber-count-bottom {
  height: 25px;
  width: 150px;
  background-color: rgb(181, 174, 163);
  text-shadow: 0px 1px white;
  font-size: 1.25em;
  color: rgb(114, 114, 114);
  padding-top: 10px;
}

.mobber-count-bottom * {
  margin: -3px 0px 0px 0px;
}

.join {
  font-size: 2em;
  width: 318px;
  height: 70px;
  background-color: orange;
  color: white;
  margin-top: 10px;
  border: 1px solid rgb(207, 156, 29);
  z-index: 20;
  position: relative;
  box-shadow: 0px 7px 7px 0px rgb(204, 204, 204);
}

.join * {
  margin-top: 20px;
}


.reward {
  height: 85px;
  margin: -5px 0px 0px 20px;
  background-color: white;
  border-radius: 0px 0px 5px 5px;
  box-shadow: inset 1px -0px 5px 0px grey;
  color: black;
  border: 1px solid gray;
  position: relative;
  
}

.reward img {
  height: 75px;
  width: 50px;
  float: left;
  margin: 5px;
}

.reward * , .reward div {
  margin: 0px;
  display: inline-block;
}

.reward-text {
  width: 200px;
  padding-top: 20px;
}

.feature-side > .subtext {
  height: 65px;
}

.share-buttons {
  height: 65px;
  padding: 10px;
  padding-top: 40px;
  display: inline-block;
  vertical-align: middle;
  border: 1px 0px 0px 0px solid gray;
}

.share-buttons > img {
  height: 25px;
  width: 45px;
}

.share-buttons > * {
  vertical-align: middle;
  display: inline-block;
}

.upcoming-thumb {
  width: 297px;
  margin: 10px;
}

.upcoming-thumb > img {
  width: 297px;
  height: 215px;
}

.upcoming-thumb > .caption {
  width: 298px;
  height: 50px;
  font-size: .90em;
}

.upcoming-thumb > .caption > .caption-text {
  width: 214px;
}

.upcoming-thumb .caption-text h3 {
  color: black;
}

.upcoming-list {
  width: 618px;
  margin: 10px;
}

.upcoming-list-row-data {
  width: 190px;
  float: left;
}

.start-mob {
  width: 298px;
  margin: 10px;
  background-color: rgb(208, 205, 199);
}

.start-mob > img {
  width: 298px;
  height: 100px;
}

.start-mob * {
  margin: 0px auto;
}

.howtostartmob img {
  width: 298px;
  margin: 20px 0px;
}

.start-mob .button {
  background-color: grey;
}

.categories {
  width: 298px;
  margin: 10px;
}

.categories .header {
  display: block;
}

.categories .a, .categories .b {
  width: 145px;
}

.a .button {
  margin-right: 58px;
}

.b .button {
  margin-left: 58px;
}

.categories .button {
  width: 100px;
}

.connect {
  width: 298px;
  margin: 10px;
}

.support {
  width: 298px;
  margin: 10px;
}

.howitworks {
  background-color: orange;
}

